.speero-modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1100;
  background: rgba(25, 27, 35, 0.7);
}

.speero-modal-inner {
  position: absolute;
  width: 500px;
  max-width: 80%;
  background: white;
  padding: 48px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.speero-close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
}

.speero-close-btn:hover {
  cursor: pointer;
}

.speero-modal p {
  text-align: center;
  color: #171a22;
}

.speero-headline {
  font: 700 24px/29px Inter;
  margin: 24px 0 12px;
}

.speero-copy {
  font: 400 14px/21px Inter;
  margin-bottom: 24px;
}

.speero-copy p:nth-child(2) {
  inline-size: 228px;
  text-align: center;
  margin: auto;
}

.speero-bold {
  font-weight: 700;
}

.speero-signup-cta {
  background: #ff642d;
  border-radius: 4px;
  border: none;
  padding: 17px 56px;
  font: 500 18px/22px Inter;
  text-decoration: none;
  color: white;
}

@media (max-width: 767px) {
  .speero-modal-inner {
    padding: 40px 24px 45px;
  }

  .speero-modal-inner > svg {
    width: 36px;
    height: 36px;
  }

  .speero-close-btn {
    top: 20px;
    right: 20px;
  }

  .speero-close-btn svg {
    width: 14px;
    height: 14px;
  }

  .speero-headline {
    font: 600 16px/22px Inter;
  }

  .speero-copy {
    margin-bottom: 40px;
  }

  .speero-signup-cta {
    font: 400 16px/24px Inter;
    display: block;
    padding: 9px 0;
    text-align: center;
    width: 100%;
  }
}
